snippet use "Add a use stict statement" b
'use strict';
endsnippet

snippet jshintglobal "JsHint global ignore" b
/* global $1 */
endsnippet

snippet cl "Console log" b
console.log($1);
endsnippet

snippet clv "Console log a variable" b
console.log('$1 : ', $1);
endsnippet

snippet cljson "Console log an object properties" b
console.log('$1 : ', JSON.stringify($1, null, 4));
endsnippet
