snippet //ref "Add a new Typescript reference" b
///<reference path='$1'/>
endsnippet

snippet desc "Describe bloc" b
describe('$1', function(){
	$0
});
endsnippet


snippet it "Test bloc" b
it('$1', function($2){
	$0
});
endsnippet
