[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jp/Desktop/g36.png]
row=1
col=0

[/home/jp/Desktop/headerbar1.png]
row=5
col=0

[/home/jp/Desktop/headerbar3.png]
row=3
col=0

[/home/jp/Desktop/g36_2.png]
row=8
col=0

[/home/jp/Desktop/Steam.desktop]
row=2
col=0

[/home/jp/Desktop/pimpmygun-g36.txt]
row=0
col=0

[/home/jp/Desktop/chrome-https___lesclams.slack.com_messages_general_.desktop]
row=4
col=0

[/home/jp/Desktop/g36_3.png]
row=7
col=0

[/home/jp/Desktop/headerbar2.png]
row=6
col=0

