[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jp/Desktop/Battle.net Launcher.desktop]
row=1
col=0

[/home/jp/Desktop/x6xqAlf.png]
row=5
col=0

[/home/jp/Desktop/activity_paging_bug.png]
row=2
col=0

[/home/jp/Desktop/Screenshots]
row=4
col=0

[/home/jp/Desktop/Progress Screenshots]
row=0
col=0

[/home/jp/Desktop/Terraria.desktop]
row=3
col=0

