[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jp/Desktop/create game .png]
row=4
col=0

[/home/jp/Desktop/create game friends.png]
row=3
col=0

[/home/jp/Desktop/ift615-13-apprentissage-supervise.pdf]
row=0
col=0

[/home/jp/Desktop/add friends.png]
row=1
col=0

[/home/jp/Desktop/friends list.png]
row=2
col=0

[/home/jp/Desktop/fb friends list .png]
row=5
col=0

[/home/jp/Desktop/create game fb friends.png]
row=6
col=0

