[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jp/Desktop/bug projection.png]
row=3
col=0

[/home/jp/Desktop/old_github.png]
row=0
col=0

[/home/jp/Desktop/Screenshot_2016-02-25_18-36-17.png]
row=1
col=0

[/home/jp/Desktop/avatar_2.png]
row=7
col=0

[/home/jp/Desktop/css.png]
row=5
col=0

[/home/jp/Desktop/Screenshot_2016-02-25_18-37-30.png]
row=2
col=0

[/home/jp/Desktop/activity.png]
row=4
col=0

[/home/jp/Desktop/avatar_1.png]
row=6
col=0

