[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jp/Desktop/Terraria.desktop]
row=8
col=0

[/home/jp/Desktop/Screenshot_2015-07-20_18-48-45.png]
row=9
col=0

[/home/jp/Desktop/image.png]
row=10
col=0

[/home/jp/Desktop/list-status.png]
row=2
col=1

[/home/jp/Desktop/g36.png]
row=1
col=0

[/home/jp/Desktop/headerbar1.png]
row=4
col=0

[/home/jp/Desktop/headerbar3.png]
row=2
col=0

[/home/jp/Desktop/Screenshot_2015-07-20_22-13-03.png]
row=11
col=0

[/home/jp/Desktop/g36_2.png]
row=7
col=0

[/home/jp/Desktop/calendar.png]
row=3
col=1

[/home/jp/Desktop/xfce4-panel.xml]
row=3
col=5

[/home/jp/Desktop/panel]
row=4
col=5

[/home/jp/Desktop/profile-mock1.jpg]
row=0
col=1

[/home/jp/Desktop/pimpmygun-g36.txt]
row=0
col=0

[/home/jp/Desktop/chrome-https___lesclams.slack.com_messages_general_.desktop]
row=3
col=0

[/home/jp/Desktop/profile-mock2.jpg]
row=1
col=1

[/home/jp/Desktop/g36_3.png]
row=6
col=0

[/home/jp/Desktop/headerbar2.png]
row=5
col=0

