UpdateInterval=2
TimeScale=0
Size=30
Mode=1
Frame=0
Border=1
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=#0000a7390000
Foreground2=#27272a2a3232
Foreground3=#26262a2a3232
Background=#27272a2a3232

