[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=true
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=false
Use_Label=false
Color=rgb(31,172,255)
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=false
Color=rgb(7,151,9)
Text=ram

[SL_Swap]
Enabled=true
Use_Label=false
Color=rgb(240,240,0)
Text=swap

[SL_Uptime]
Enabled=false

