[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Skype
Comment=Skype
Exec=skype %U
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

